branches:
  - master
  - name: develop
    prerelease: true
tagFormat: 'adapter-v${version}'
debug: true
ci: true
dryRun: false
plugins:
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
